<label for="title">
	<f:translate key="tx_sourcero_domain_model_repository.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="path">
	<f:translate key="tx_sourcero_domain_model_repository.path" />
</label><br />
	<f:form.textfield property="path" /><br />
<label for="homepage">
	<f:translate key="tx_sourcero_domain_model_repository.homepage" />
</label><br />
	<f:form.textfield property="homepage" /><br />
<label for="remoteUrl">
	<f:translate key="tx_sourcero_domain_model_repository.remote_url" />
</label><br />
	<f:form.textfield property="remoteUrl" /><br />