<table class="tx-sourcero" >
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.title" />
		</td>
		<td>
			{repository.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.path" />
		</td>
		<td>
			{repository.path}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.homepage" />
		</td>
		<td>
			{repository.homepage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.remote_url" />
		</td>
		<td>
			{repository.remoteUrl}
		</td>
	</tr>
</table>