<table class="scm-info">
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.title" />
		</td>
		<td>
			{repository.title}
			<f:render partial="Status" arguments="{statusCode: repository.statusCode}" />
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.type" />
		</td>
		<td>
			{repository.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.path" />
		</td>
		<td>
			{repository.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.homepage" />
		</td>
		<td>
			{repository.homepage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.remote_url" />
		</td>
		<td>
			{repository.remoteUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sourcero_domain_model_repository.version_information" />
		</td>
		<td>
			{repository.versionInformation}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<f:link.action action="list" controller="IDE" arguments="{file:repository.path}">
				<i class="icon-pencil icon-white"></i> Open repository in editor
			</f:link.action>
		</td>
	</tr>
</table>