
/* MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW */
/* EDITOR */
/* MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW */

h1.editorHeader {
	text-align: left;
}

.editor-container {
	.CodeMirror {
		font-family: Menlo, monospace;
		font-size: 12px;
		&.cm-s-monokai, &.cm-s-sourcero {
			font-family: Menlo, monospace;
			font-size: 12px;
		}
	}
	.CodeMirror-dialog input, .CodeMirror-hints .CodeMirror-hint {
		font-family: Menlo, monospace;
		font-size: 12px;
	}
	.CodeMirror-dialog {
		font-size: 13px;
		input {
			font-size: 13px;
		}
	}
	.CodeMirror-hints .CodeMirror-hint {
		font-size: 13px;
	}
}

/* CodeMirror UI */

.buttons {
	margin-top: 20px;
}

@mixin fullSize {
	position: absolute;
	left: 0;
	right: 0;

	top: 0px;
	bottom: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.col-static {
	position: static;
}

.full-height {
	height: 100vh;
}

//.tab-content, .tab-pane {
//  @include fullSize;
//}

.editor-container {
	@include fullSize;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	top: 60px;
	left: 15px;
	//	width: 73%;
	//	background: $gray;

	.CodeMirror {
		&.cm-s-monokai, &.cm-s-sourcero {
			background: transparent;
			/*height: 10vh;*/
			/*height: 600px;*/

			height: auto;
			@include fullSize;
		}
	}
}

.CodeMirror-focused .cm-matchhighlight {
	text-decoration: underline;
}

.CodeMirror-activeline-background {
	background: rgba(255, 255, 255, 0.1);
}

.CodeMirror-matchingbracket {
	background: rgba(255, 255, 255, 0.3);
}

.CodeMirror pre {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.editorInfoTable td {
	&.caption {
		white-space: nowrap;
	}
	&.value {
		word-break: break-all;
		word-wrap: break-word;
	}
}

/* Code hints */

.CodeMirror-hints .CodeMirror-hint {
	/*position: absolute;*/
	/*z-index: 10;*/
	/*overflow: hidden;*/
	/*list-style: none;*/
	/*margin: 0;*/
	/*padding: 2px;*/
	/*-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);*/
	/*-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);*/
	/*box-shadow: 2px 3px 5px rgba(0,0,0,.2);*/
	/*border-radius: 3px;*/
	/*border: 1px solid silver;*/
	/*background: white;*/
	/*font-size: 90%;*/
	/* font-family: Menlo, monospace; */
	/*max-height: 20em;*/
	/*overflow-y: auto;*/
}

body ul.CodeMirror-hints, .editor-container .CodeMirror-hints {
	/*margin-left: -280px;*/
	background: #444;
	color: #c6c6c6;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	bottom: 0;
}

body {
	.CodeMirror-hint {
		color: #c6c6c6;
	}
	.CodeMirror-hint-active {
		color: #fff;
		background: #08c;
	}
}


.editor-tabs-container {
	height: 41px;
	width: 100%;
	overflow: scroll;

	ul.nav-tabs{
		width: 20000px;
	}
}

.editor-container {
	.CodeMirror-hint-active {
		color: #fff;
		background: #08c;
	}
	.CodeMirror-dialog {
		background: #444;
		background: rgba(68, 68, 68, 0.8);
		color: #c6c6c6;
		outline: 0;
		-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	.CodeMirror-dialog-top {
		border-bottom: 1px solid #999;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		top: 0;
	}
	.CodeMirror-dialog-bottom {
		border-top: 1px solid #999;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		bottom: 0;
	}
	.CodeMirror-dialog {
		button {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			/* Bootstrap button */
			display: inline-block;
			padding: 4px 12px;
			margin-bottom: 0;
			/*font-size: 14px;*/
			line-height: 20px;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			background-color: #363636;
			background-image: -moz-linear-gradient(top, #444444, #222222);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
			background-image: -webkit-linear-gradient(top, #444444, #222222);
			background-image: -o-linear-gradient(top, #444444, #222222);
			background-image: linear-gradient(to bottom, #444444, #222222);
			background-repeat: repeat-x;
			border-color: #222222 #222222 #000000;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
			filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		}
		input {
			margin: 2px 0;
			-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
			-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
			box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
		}
	}
}

/*.CodeMirror-hint {*/
/*margin: 0;*/
/*padding: 0 4px;*/
/*border-radius: 2px;*/
/*max-width: 19em;*/
/*overflow: hidden;*/
/*white-space: pre;*/
/*color: black;*/
/*cursor: pointer;*/
/*}*/

/*.CodeMirror-hint-active {*/
/*background: #08f;*/
/*color: white;*/
/*}*/

/*
.CodeMirror-dialog button {
	font-size: 70%;
}
*/

/* Toolbar */

.toolbar .editorInfo {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 20px;
	/*color: #333;*/
	color: #999;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	vertical-align: middle;
}

/* FileBrowser */

.fileBrowser {
	/* height: 83vh; */
	overflow: auto;
	//  top: 60px;

	h3 {
		margin: 0;
		line-height: normal;
	}
	ul, li {
		list-style: none;
		margin: 0;
	}

	ul {
		padding: 0 0 $padding-base-vertical (2 * $padding-base-horizontal);
	}
	> ul {
		padding: $padding-base-vertical $padding-base-horizontal;
	}

	.tree-node {
		white-space: nowrap;

		> a,
		> .toggle-icon {
			cursor: pointer;
			display: inline-block;
		}

		> .toggle-icon {
			font-size: 0.8em;
			width: 1em;
		}
	}


	&.toggle {
		.fileBrowserInner {
			display: none;
		}
		&:hover .fileBrowserInner {
			display: block;
		}
	}
	.fileBrowserInner {
		.item {
			width: 100%;
			display: block;
			white-space: nowrap;
			> a {
				width: 100%;
				display: block;
				white-space: nowrap;
				&:hover {
					background: rgba(0, 136, 204, 0.2);
				}
			}
		}
		.itemFile .fileDirectory {
			color: rgba(0, 136, 204, 0.4);
		}
		.itemDirectory {
			border-top: 2px solid #333;
			margin-top: 10px;
			padding-top: 10px;
			+ .itemDirectory {
				margin-top: inherit;
				padding-top: inherit;
				border-top: 0 none;
			}
		}
	}
	.act > a {
		background: rgba(255, 255, 255, 0.1);
	}
	.directory-container {
		display: none;
	}
	.act > .directory-container {
		display: block;
	}
	.directoryEdit {
		&:before {
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			*margin-right: .3em;
			content: "\f0da";
			padding: 0 5px;
			width: 7px;
			display: inline-block;
		}
		&.open:before {
			content: "\f0d7";
		}
	}
	.directory-root {
		margin-left: 0;
	}
	.node > a {
		display: block;
		white-space: nowrap;
	}
}