<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

<f:render partial="Menu" arguments="{_all}" />

<h1>New commit</h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:form action="performCommit" arguments="{repository:repository.title}">
	<f:form.textarea name="commitMessage" rows="10" cols="50" class="input-block-level" additionalAttributes="{placeholder:'Your commit message'}" />
	<button type="submit" class="btn">Commit</button>
</f:form>

</f:section>