<f:layout name="Default" />
{namespace ir=Tx_Iresults_ViewHelpers}

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

<f:render partial="Menu" arguments="{_all}" />

<h1>Commit view</h1>

<f:flashMessages />
<f:render partial="Repository/Properties" arguments="{repository:repository}" />

<div class"commit-message-container">
	<h2 class="pre-caption">Commit message</h2>
	<pre>{commitMessage}</pre>
</div>

<div class="scm-output-container">
	<h2 class="pre-caption">Output</h2>
	<pre class="scm-output"><f:format.htmlentitiesDecode>{commandOutput}</f:format.htmlentitiesDecode></pre>
</div>

</f:section>