<f:layout name="Default" />
{namespace ir=Tx_Iresults_ViewHelpers}

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Single View for Repository</h1>

<f:flashMessages />
<f:render partial="Repository/Properties" arguments="{repository:repository}" />
<f:link.action action="list">Back to list</f:link.action><br />

<f:link.action action="log" arguments="{repository:repository.title}">Log</f:link.action><br />
<f:link.action action="push" arguments="{repository:repository.title}">Push</f:link.action><br />
<f:link.action action="pull" arguments="{repository:repository.title}">Pull</f:link.action><br />
<f:link.action action="add" arguments="{repository:repository.title, add: '.'}">Add</f:link.action><br />
<f:link.action action="commit" arguments="{repository:repository.title}">Commit</f:link.action><br />


<h2>Perform commit</h2>
<h3>Commit message</h3>
<pre>{commitMessage}</pre>

<h3>Output</h3>
<pre>{commandOutput}</pre>

<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="create">New Repository</f:link.action>
</f:section>