<script type="text/javascript">
	var ACEMode = "{ace.mode}",
			ACEModeHint = "{ace.mode}Hint",
			ACEInstallPath = "../{f:uri.resource(path:'Scripts/ace/lib/ace/ace.js')}";
</script>
<!--<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>-->

<script data-main="{f:uri.resource(path:'Scripts/Delegate.js')}" src="{f:uri.resource(path:'Scripts/require.js')}"></script>
<!--<script type="text/javascript" src="{f:uri.resource(path:'Scripts/ace-builds-master/src-noconflict/ace.js')}"></script>-->

<!--<script type="text/javascript" src="{f:uri.resource(path:'Scripts/Delegate.js')}"></script>-->



