<script type="text/javascript" src="{f:uri.resource(path:'Scripts/FastOpen.js')}"></script>

<!-- Modal -->
<div id="fast-open-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="fast-open-label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<strong id="fast-open-label">Modal header</strong>
	</div>
	<div class="modal-body">
		<form id="fast-open-form" action="#">
			<input id="fast-open-input" type="text" data-provide="typeahead" autocomplete="off" autofocus data-source='[
		<f:for each="{fileBrowser}" as="fileBrowserFile">
			"{fileBrowserFile.uri}",
		</f:for>
			"null"
		]' />

			<script type="text/javascript">
				var fastOpenMap = {
				<f:for each="{fileBrowser}" as="fileBrowserFile">
					'{fileBrowserFile.uri}': '<f:uri.action action="show" arguments="{file: fileBrowserFile.uri}" />',
				</f:for>
					'null': null
				};
			</script>
		</form>

	</div>
</div>

