<f:be.container addCssFile="{f:uri.resource(path:'Stylesheets/Local/bootstrap-darkstep.css')}">
<f:be.container addCssFile="{f:uri.resource(path:'Stylesheets/Library/font-awesome/css/font-awesome.min.css')}">
<f:be.container addCssFile="{f:uri.resource(path:'Stylesheets/Local/local.css')}">
	<div class="typo3-fullDoc">
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
</f:be.container>
</f:be.container>