{namespace sourcero=Tx_Sourcero_ViewHelpers}
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

	<f:link.action action="show" controller="Repository" class="pull-right" arguments="{repository: file.extensionKey}">
		<div class="btn btn-inverse">
			<i class="icon-off icon-white"></i>
		</div>
	</f:link.action>

	<div class="row-fluid">
		<div class="span3">
			<f:render partial="FileBrowser" arguments="{_all}" />
		</div>
		<div class="span9">
			<!--Body content-->

			<div class="editor-container">
				<div class="hero-unit">
					<h1>{project.name}</h1>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript">
		(function() {
			var root = this;
			jQuery('body').keydown(function (event) {
				var handled = false;
				if ((event.ctrlKey || event.metaKey) && event.keyCode === 79) { // Open
					if (root.FastOpen) {
						root.FastOpen.show();
						handled = true;
					}
				}
				return !handled;
			});
		})();
	</script>
	<f:render partial="FastOpen" arguments="{_all}" />

</f:section>