{namespace sourcero=Tx_Sourcero_ViewHelpers}
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<!--
	<f:link.action action="show" controller="Repository" class="pull-right" arguments="{repository: file.extensionKey}">
		<div class="btn btn-inverse">
			<i class="icon-off icon-white"></i>
		</div>
	</f:link.action>
	-->

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<f:render partial="FileBrowser" arguments="{_all}" />
			</div>
			<div class="span9">
				<!--Body content-->
				<f:render section="editor" arguments="{_all}" />
			</div>
		</div>
	</div>
</f:section>

<f:section name="editor">

	<f:render partial="FormErrors" />

	<!-- Toolbar -->
	<div class="btn-toolbar">
		<div class="btn-group">
			<a href="#" class="btn btn-inverse saveButton">
				<i class="icon-save icon-white"></i>
			</a>

			<f:link.action action="show" controller="Repository" class="btn btn-inverse" arguments="{repository: file.extensionKey}">
				<i class="icon-remove icon-white"></i>
			</f:link.action>

			<f:link.action action="delete" arguments="{file: file.path}" class="deleteButton btn btn-inverse" additionalAttributes="{data-filename: '{file.name}'}">
				<i class="icon-trash icon-white"></i>
			</f:link.action>

			<a id="fast-open-button" href="#fast-open" role="button" class="btn btn-inverse fastOpenBtn">
				<i class="icon-folder-open icon-white"></i>
			</a>
		</div>

	</div>
	<f:render partial="FastOpen" arguments="{_all}" />

	<f:if condition="{fileIsBinary}">
		<f:then>
			<div class="well">
				<f:format.raw>{fileBinaryData}</f:format.raw>
			</div>

			<div>
				<f:link.action action="delete" arguments="{file: file.path}" class="deleteButton btn btn-inverse" additionalAttributes="{data-filename: '{file.name}'}">
					Delete file <i class="icon-trash icon-white"></i>
				</f:link.action>
			</div>
		</f:then>
		<f:else>
			<div class="well">
				<f:form action="update" method="POST">
					<sourcero:form.textarea rows="100" cols="100" name="contents" id="code" value="{file.contents -> f:format.raw()}" class="input-block-level" additionalAttributes="{autofocus:autofocus}"/>
					<f:form.hidden name="path" value="{file.path}" />

					<header class="row-fluid">
						<f:if condition="{file.exists}">
							<f:then>
								<h1 class="editorHeader">Edit File</h1>
							</f:then>
							<f:else>
								<h1 class="editorHeader">New File</h1>
							</f:else>
						</f:if>
					</header>
					<table class="table editorInfoTable">
						<tr>
							<td class="caption">Path</td>
							<td class="value">{file.path}</td>
						</tr>
						<tr>
							<td class="caption">Mime-Type</td>
							<td class="value">{fileMimeType}</td>
						</tr>
						<tr>
							<td class="caption">Delete file</td>
							<td class="value">
								<f:link.action action="delete" arguments="{file: file.path}" class="deleteButton btn btn-inverse" additionalAttributes="{data-filename: '{file.name}'}">
									Delete file <i class="icon-trash icon-white"></i>
								</f:link.action>
							</td>
						</tr>
					</table>
				</f:form>
			</div>
			<f:render partial="CodeMirror" arguments="{_all}" />
			<!--<f:render partial="FileBrowser" arguments="{_all}" />-->

		</f:else>
	</f:if>

</f:section>

